<div class="navbar">
  <img src="/images/logos/B-Airways-logos.jpeg" alt="Logo" id="logo" style="width: 10%; height: 10%;">
  <a href="/"><button class="nav-item">Home</button></a>
  <!-- <a href="/booking"><button class="nav-item">Booking</button></a>  -->

  <a href="/search"><button class="nav-item">Search</button></a>
  <% if (typeof userRole !== 'undefined' && userRole === 'Manager') { %>
    <a href="/report"><button class="nav-item">Reports</button></a>
    <% } %>
  <a href="/contact"><button class="nav-item">Contact</button></a>
  <% if (typeof userRole === 'undefined') { %>
    <a href="/login"><button class="nav-item">Login</button></a>
  <% } else { %>
    <a href="/account"><button class="nav-item">Dashboard</button></a>
    <a href="/logout"><button class="nav-item">Logout</button></a>
  <% } %>  
</div>

<br>
<h2><%= docTitle%></h2>


  
  
  