</body>
<br>
<footer>
    <div">
          <h4>About B-Airways</h4>
          <p>B-Airways is a premier airline dedicated to providing top-quality service to our customers. We offer a wide range of destinations and a variety of flight options to suit your travel needs. Our team is committed to making your journey with us as smooth and enjoyable as possible.</p>
    </div>
    <div class="copyright">
      Copyright &copy; <%= new Date().getFullYear() %> | B-Airlines | All Rights Reserved
    </div>
  </footer>  

</html>