<%- include ('partials/header') %>
<%- include ('partials/nav_bar') %>

<style>

    *{
        margin: 0px;
        padding: 0px;
    }
    .bgimage{
        background: linear-gradient(rgba(25, 34, 41, 0.55), rgba(142, 138, 182, 0.55)),url("BG.jpg");
        background-size: 100%;
        background-image: url("https://wallpaperaccess.com/full/254361.jpg");
        width: 100%;
        height: 100vh;
    }
    .menu{
        width: 100%;
        height: 100px;
        background-color: rgba(0, 0, 0, 0.1);
    }
    .leftmenu{
        width: 20%;
        line-height: 100Px;
        float: left;
    }
    .leftmenu h4{
        padding-left: 70px;
        font-weight: bold;
        color: white;
        font-size: 22px;
        font-family: 'montserrat', sans-serif;
    }
    .rightmenu{
        width: 60%;
        height: 100Px;
        float: right;
    }
    .rightmenu ul{
        margin-left: 200px;
    }
    .rightmenu ul li{
        display: inline-block;
        font-family: 'montserrat', sans-serif ;
        list-style: none;
        font-size: 15px;
        color: white;
        font-weight: bold;
        line-height: 100px;
        margin-left: 40px;
        text-transform: uppercase;
        cursor: pointer;
    }
    .rightmenu ul li:hover{
        color: #00ccff;
    }
    #firstlist{
    color: #00ccff; 
    }
    .text{
        width: 100%;
        margin-top:185px ;
        text-transform: uppercase;
        text-align: center;
        color: white;

    }
    .text h4{
        font-size: 14px;
        font-family: 'open sans', sans-serif;
    }
    .text h1{
        font-size: 62px;
        font-family: 'montserrat', sans-serif ;
        font-weight: 700px;
        margin: 14px 0px;
        color: white;
    }
    .text h3{
        font-size: 15px;
        font-family: 'open sans', sans-serif;
        color: rgb(16, 20, 42);
    }
    .btn{
        display:inline-block;
        background-color: rgba(255,255,255, 0.164);
        color: white;
        font-family: 'montserrat', sans-serif ;
        border: none;
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 40px;
        width: 150px;
        margin-top: 25px;
        border: 3px solid white;
        cursor: pointer;
    }
    .btn1{
        display:inline-block;
        background-color: rgba(16, 77, 22, 0.164);
        color: rgb(57, 129, 74);
        font-family: 'montserrat', sans-serif ;
        border: none;
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 40px;
        width: 250px;
        margin-top: 25px;
        border: 3px solid rgb(16, 70, 13);
        cursor: pointer;
    }
    .btn:hover{
        background-color: white;
        color: black;
    }
    .btn1:hover{
        background-color: white;
        color: black;
    }

</style>
<body>
    <section class="bgimage">
        
        <section class="text">
            <h4>LIVE ABOVE THE SKY</h4>
            <h1> PROFESSIONAL & EXPERIENCED </h1>
            <h3 style="color: white;"> WE ARE THE ONE OF THE WORLD'S TOP AIRLINE AGENCIES </h3>
            <% if (typeof userRole === 'undefined') { %>
                <li></li><a href="/login"><button class="btn">Login</button></a></li>
                <a href="/register"><button class="btn">Register</button></a>
              <% } else { %>
                <a href="/account"><button class="btn">Dashboard</button></a>
              <% } %>  

        </section>

    </section>
    <!-- /* coding with nick */ -->
</body>

<%- include ('partials/footer') %>