<%- include ('partials/header') %>
<%- include ('partials/nav_bar') %>
<img src="images\logos\B-Airways-logos_transparent.png" alt="Brand logo"  height="175">
<div>
<form action="/login" method="POST">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" style="display: block;">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" style="display: block;">
    <center><button type="submit" style="display: block;">Login</button></center>

  </form>
</div>
  
<br>
<div class="centered-div">
    <a href="/register"><button class="create-account-button">Register Account</button></a>
    <a href="/search"><button class="create-account-button">Continue as Guest</button></a>
    <a href="/staff_login"><button class="create-account-button">Staff Login</button></a>
</div>


<%- include ('partials/footer') %>