.dashboard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.dashboard .overlap-wrapper {
    background-color: #201f1f;
    border: 1px none;
    height: 926px;
    overflow: hidden;
    width: 428px;
}

.dashboard .overlap {
    height: 944px;
    left: -232px;
    position: relative;
    top: -18px;
    width: 840px;
}

.dashboard .paul-volkmer {
    height: 923px;
    left: 235px;
    object-fit: cover;
    position: absolute;
    top: 18px;
    width: 425px;
}

.dashboard .text-wrapper {
    color: var(--grayscaleswhite);
    font-family: "Manrope-Bold", Helvetica;
    font-size: 38px;
    font-weight: 700;
    height: 38px;
    left: 343px;
    letter-spacing: 0;
    line-height: 38px;
    position: absolute;
    text-align: center;
    top: 99px;
    white-space: nowrap;
}

.dashboard .frame {
    align-items: flex-end;
    display: inline-flex;
    gap: 15px;
    left: 251px;
    position: absolute;
    top: 256px;
}

.dashboard .group {
    height: 26px;
    position: relative;
    width: 122px;
}

.dashboard .overlap-group {
    background-color: #24922f;
    border-radius: 32px;
    box-shadow: inset 0px 4px 4px #00000040;
    height: 26px;
    position: relative;
    width: 120px;
}

.dashboard .popular-now {
    color: #ffffff;
    font-family: "Plus Jakarta Sans-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    left: 2px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 4px;
    white-space: nowrap;
    width: 116px;
}

.dashboard .overlap-group-wrapper {
    height: 26px;
    margin-right: -2px;
    position: relative;
    width: 122px;
}

.dashboard .div {
    height: 79px;
    left: 600px;
    position: absolute;
    top: 0;
    width: 84px;
}

.dashboard .image-wrapper {
    background-color: #ffdc25;
    border: 1px solid;
    border-color: #000000;
    border-radius: 43px/40.5px;
    filter: blur(14px);
    height: 81px;
    left: -1px;
    position: relative;
    top: -1px;
    width: 86px;
}

.dashboard .image {
    height: 58px;
    left: 7px;
    object-fit: cover;
    position: absolute;
    top: 18px;
    width: 53px;
}

.dashboard .frame-2 {
    align-items: flex-start;
    display: inline-flex;
    gap: 20px;
    left: 201px;
    position: absolute;
    top: 187px;
}

.dashboard .group-2 {
    height: 34px;
    position: relative;
    width: 152px;
}

.dashboard .div-wrapper {
    background-color: #212020;
    border: 1px solid;
    border-color: #aab810;
    border-radius: 32px;
    box-shadow: inset 0px 4px 4px #00000040;
    height: 34px;
    position: relative;
    width: 150px;
}

.dashboard .text-wrapper-2 {
    color: #ffffff;
    font-family: "Plus Jakarta Sans-SemiBold", Helvetica;
    font-size: 16px;
    font-weight: 600;
    left: 2px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 4px;
    width: 145px;
}

.dashboard .popular-destinations {
    color: #ffffff;
    font-family: "Plus Jakarta Sans-SemiBold", Helvetica;
    font-size: 16px;
    font-weight: 600;
    left: 10px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 4px;
    width: 131px;
}

.dashboard .group-3 {
    height: 34px;
    margin-right: -2px;
    position: relative;
    width: 152px;
}

.dashboard .unique-cultures {
    color: #ffffff;
    font-family: "Plus Jakarta Sans-SemiBold", Helvetica;
    font-size: 16px;
    font-weight: 600;
    left: 12px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 4px;
    width: 127px;
}

.dashboard .union {
    height: 219px;
    left: 232px;
    position: absolute;
    top: 725px;
    width: 428px;
    backdrop-filter: blur(16px) saturate(180%);   
    
}

.dashboard .rectangle {
    height: 53px;
    left: 293px;
    position: absolute;
    top: 863px;
    width: 317px;
}

.dashboard .text-wrapper-3 {
    -webkit-text-stroke: 0.1px #ffffff;
    color: #ffffff;
    font-family: "PT Bold Arch-Regular", Helvetica;
    font-size: 19.8px;
    font-weight: 400;
    left: 404px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 869px;
}

.dashboard .flexcontainer {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 96px;
    left: 322px;
    position: absolute;
    top: 750px;
    width: 250px;
}

.dashboard .text {
    align-self: stretch;
    color: transparent;
    font-family: "Plus Jakarta Sans-SemiBold", Helvetica;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
}

.dashboard .span {
    color: #ffffff;
}

.dashboard .text-wrapper-4 {
    color: #ffffff;
    font-size: 16px;
}

.dashboard .text-wrapper-5 {
    color: #42d63f;
    font-size: 24px;
}

.dashboard .text-wrapper-6 {
    color: #ffffff;
    font-size: 24px;
}

.dashboard .text-wrapper-7 {
    color: #eccc24;
    font-family: "Plus Jakarta Sans-Medium", Helvetica;
    font-size: 26px;
    font-weight: 500;
    left: 235px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 310px;
    width: 425px;
}

.dashboard .group-4 {
    height: 322px;
    left: 0;
    position: absolute;
    top: 358px;
    width: 832px;
}

.dashboard .overlap-2 {
    height: 239px;
    left: 0;
    position: absolute;
    top: 0;
    width: 830px;
}

.dashboard .rectangle-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    height: 160px;
    left: 0;
    padding: 10px;
    position: absolute;
    top: 0;
}

.dashboard .rectangle-2 {
    background-color: #fefefe17;
    border-radius: 32px;
    height: 336px;
    margin-bottom: -196px;
    position: relative;
    width: 810px;
}

.dashboard .group-5 {
    display: flex;
    justify-content: center;
    height: 185px;
    left: 366px;
    position: absolute;
    top: 37px;
    width: 158px;
}

.dashboard .overlap-group-3 {
    height: 193px;
    left: -4px;
    position: relative;
    width: 50px;
}

.dashboard .overlap-group-4 {
    height: 193px;
    left: -4px;
    position: relative;
    width: 165px;
}

.dashboard .overlap-group-2 {
    display: flex;
    align-items: center;
    height: 193px;
    left: -4px;
    position: relative;
    width: 165px;
}
.dashboard .small-image {
    flex: 1;
    max-width: 30%; /* Adjust the width as needed */
  }
  

.dashboard .rectangle-3 {
    background-color: #d9d9d9;
    border-radius: 21px;
    filter: blur(13px);
    height: 185px;
    left: 5px;
    position: absolute;
    top: 0;
    width: 157px;
}

.dashboard .img {
    height: 193px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 165px;
}

.dashboard .rectangle-4 {
    border: 3px solid;
    border-color: #ffbc10;
    border-radius: 21px;
    height: 185px;
    left: 5px;
    position: absolute;
    top: 0;
    width: 157px;
}
.dashboard .rectangle-5 {
    border: 3px solid;
    border-color: #ffbc10;
    border-radius: 21px;
    height: 185px;
    left: 0px;
    position: absolute;
    top: 0;
}
.dashboard .rectangle-6 {

    height: 185px;
    right: 0px;
    position: absolute;
    top: 0;
}

.dashboard .img-wrapper {
    background-color: #d9d9d9;
    border-radius: 21px;
    filter: blur(13px);
    height: 122px;
    left: 584px;
    position: absolute;
    top: 107px;
    width: 93px;
}

.dashboard .rectangle-5 {
    height: 130px;
    left: -4px;
    position: absolute;
    top: 0;
    width: 80px;
}

.dashboard .group-6 {
    height: 145px;
    left: 232px;
    position: absolute;
    top: 94px;
    width: 82px;
}

.dashboard .explore-zephyria-s {
    -webkit-text-stroke: 0.5px #ffbc10;
    color: #ffffff;
    font-family: "PT Bold Arch-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 276px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 244px;
    width: 341px;
}

.dashboard .frame-3 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    height: 250px;
    left: 10px;
    overflow-x: scroll;
    padding: 0px;
    position: absolute;
    top: 0px;
}

.dashboard .rectangle-6 {
    background-color: #fefefe0a;
    border-radius: 32px;
    height: 54px;
    position: relative;
    width: 810px;
}

  /* Add your existing styles for rectangle classes */
  