.popular-now {
  color: #ffffff;
  font-family: 'Plus Jakarta Sans-SemiBold', Helvetica;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.image-wrapper {
  background-color: #ffdc25;
  border: 1px solid;
  border-color: #000000;
  border-radius: 43px/40.5px;
  filter: blur(14px);
  height: 81px;
  left: -1px;
  position: relative;
  top: -1px;
  width: 86px;
}

.image {
  height: 58px;
  left: 7px;
  object-fit: cover;
  top: 18px;
  width: 53px;
}

.discover-text {
  color: #ffffff;
  font-family: 'Plus Jakarta Sans-SemiBold', Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
}

.discover-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #abb810;
  border-width: 2px;
  border-radius: 45px;
  width: 130px;
  height: 30px;
}

.union {
  height: 219px;
  left: 232px;
  top: 725px;
  width: 428px;
  backdrop-filter: blur(16px) saturate(180%);
}

.rectangle {
  height: 53px;
  left: 293px;
  top: 863px;
  width: 317px;
}

.text-wrapper-3 {
  -webkit-text-stroke: 0.1px #ffffff;
  color: #ffffff;
  font-family: 'PT Bold Arch-Regular', Helvetica;
  font-size: 19.8px;
  font-weight: 400;
  left: 404px;
  letter-spacing: 0;
  line-height: normal;
  top: 869px;
}

.flexcontainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 96px;
  left: 322px;
  top: 750px;
  width: 250px;
}

.text {
  align-self: stretch;
  color: transparent;
  font-family: 'Plus Jakarta Sans-SemiBold', Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
}

.span {
  color: #ffffff;
}

.text-wrapper-4 {
  color: #ffffff;
  font-size: 16px;
}

.text-wrapper-5 {
  color: #42d63f;
  font-size: 24px;
}

.text-wrapper-6 {
  color: #ffffff;
  font-size: 24px;
}

.text-wrapper-7 {
  color: #eccc24;
  font-family: 'Plus Jakarta Sans-Medium', Helvetica;
  font-size: 26px;
  font-weight: 500;
  left: 235px;
  letter-spacing: 0;
  line-height: normal;

  text-align: center;
  top: 310px;
  width: 425px;
}

.group-4 {
  height: 322px;
  left: 0;

  top: 358px;
  width: 832px;
}

.overlap-2 {
  height: 239px;
  left: 0;

  top: 0;
  width: 830px;
}

.group-5 {
  display: flex;
  justify-content: center;
  height: 185px;
  left: 366px;

  top: 37px;
  width: 158px;
}

.overlap-group-3 {
  height: 193px;
  left: -4px;
  position: relative;
  width: 50px;
}

.overlap-group-4 {
  height: 193px;
  left: -4px;
  position: relative;
  width: 165px;
}

.overlap-group-2 {
  display: flex;
  align-items: center;
  height: 193px;
  left: -4px;
  position: relative;
  width: 165px;
}
.small-image {
  flex: 1;
  max-width: 30%; /* Adjust the width as needed */

  left: 0;
  top: 0;
}

.rectangle-3 {
  background-color: #d9d9d9;
  border-radius: 21px;
  filter: blur(13px);
  height: 185px;
  left: 5px;

  top: 0;
  width: 157px;
}

.img {
  height: 193px;
  left: 0;
  object-fit: cover;

  top: 0;
  width: 165px;
}

.rectangle-4 {
  border: 3px solid;
  border-color: #ffbc10;
  border-radius: 21px;
  height: 185px;
  left: 5px;

  top: 0;
  width: 157px;
}
.rectangle-5 {
  border: 3px solid;
  border-color: #ffbc10;
  border-radius: 21px;
  height: 185px;
  left: 0px;

  top: 0;
}
.rectangle-6 {
  height: 185px;
  right: 0px;

  top: 0;
}

.img-wrapper {
  background-color: #d9d9d9;
  border-radius: 21px;
  filter: blur(13px);
  height: 122px;
  left: 584px;

  top: 107px;
  width: 93px;
}

.rectangle-5 {
  height: 130px;
  left: -4px;

  top: 0;
  width: 80px;
}

.group-6 {
  height: 145px;
  left: 232px;

  top: 94px;
  width: 82px;
}

.explore-zephyria-s {
  -webkit-text-stroke: 0.5px #ffbc10;
  color: #ffffff;
  font-family: 'PT Bold Arch-Regular', Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 276px;
  letter-spacing: 0;
  line-height: normal;

  text-align: center;
  top: 244px;
  width: 341px;
}

.frame-3 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  height: 250px;
  left: 10px;
  overflow-x: scroll;
  padding: 0px;

  top: 0px;
}

.rectangle-6 {
  background-color: #fefefe0a;
  border-radius: 32px;
  height: 54px;
  position: relative;
  width: 810px;
}

/* Add your existing styles for rectangle classes */
