.signup-page {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .signup-page .overlap-group-wrapper {
    background-color: #ffffff;
    border: 1px none;
    height: 926px;
    width: 428px;
  }
  
  .signup-page .overlap-group {
    background-image: url(https://generation-sessions.s3.amazonaws.com/3bcb445300c22561c34e152b4a4056d5/img/paul-volkmer-qvotvbsum-c-unsplash-1.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 926px;
    position: relative;
  }
  
  .signup-page .text-wrapper {
    color: rgb(198, 180, 180);
    font-family: "Manrope", Helvetica;
    font-size: 38px;
    font-weight: 700;
    height: 38px;
    left: 143px;
    letter-spacing: 0;
    line-height: 38px;
    position: absolute;
    text-align: center;
    top: 73px;
    white-space: nowrap;
  }
  
  .signup-page .div {
    color: rgb(198, 180, 180);
    font-family: "Manrope", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 40px;
    letter-spacing: 0;
    line-height: 30px;
    position: absolute;
    top: 224px;
    width: 370px;
  }
  
  .signup-page .component {
    background-color: #1c1c1d;
    border-radius: 15px;
    height: 52px;
    left: 40px;
    position: relative;
    top: 280px;
    width: 370px;
  }
  
  .signup-page .input-text-here {
    color: var(--grayscalesmedium-grey);
    font-family: var(--body-body-1-font-family);
    font-size: var(--body-body-1-font-size);
    font-style: var(--body-body-1-font-style);
    font-weight: var(--body-body-1-font-weight);
    height: 17px;
    left: 20px;
    letter-spacing: var(--body-body-1-letter-spacing);
    line-height: var(--body-body-1-line-height);
    position: absolute;
    top: 16px;
    white-space: nowrap;
  }
  
  .signup-page .text-field-details {
    color: rgb(181, 164, 164);
    font-family: var(--body-body-1-font-family);
    font-size: var(--body-body-1-font-size);
    font-style: var(--body-body-1-font-style);
    font-weight: var(--body-body-1-font-weight);
    height: 14px;
    left: 20px;
    letter-spacing: var(--body-body-1-letter-spacing);
    line-height: var(--body-body-1-line-height);
    position: absolute;
    text-align: right;
    top: 57px;
    white-space: nowrap;
    width: 350px;
  }
  
  .signup-page .component-2 {
    background-color: #1c1c1d;
    border-radius: 15px;
    height: 52px;
    left: 40px;
    position: absolute;
    top: 621px;
    width: 370px;
  }
  
  .signup-page .component-3 {
    background-color: #1d1c1e;
    border-radius: 15px;
    height: 52px;
    left: 40px;
    position: absolute;
    top: 366px;
    width: 370px;
  }
  
  .signup-page .overlap {
    border-radius: 15px;
    height: 52px;
    left: 40px;
    position: absolute;
    top: 450px;
    width: 370px;
  }
  
  .signup-page .component-4 {
    background-color: #1d1c1e;
    border-radius: 15px;
    height: 52px;
    left: 0;
    position: absolute;
    top: 0;
    width: 370px;
  }

  .signup-page .datepicker{
    color: white;
  }
  
  .signup-page .calendar-month {
    height: 24px !important;
    left: 333px !important;
    position: absolute !important;
    top: 14px !important;
    width: 24px !important;
  }
  
  .signup-page .component-5 {
    background-color: #1c1c1d;
    border-radius: 15px;
    height: 52px;
    left: 40px;
    position: absolute;
    top: 533px;
    width: 370px;
  }
  
  .signup-page .overlap-2 {
    border-radius: 15px;
    height: 52px;
    left: 40px;
    position: absolute;
    top: 707px;
    width: 370px;
  }
  
  .signup-page .component-6 {
    background-color: #1c1c1d;
    border-radius: 15px;
    height: 52px;
    left: 0;
    position: absolute;
    top: 0;
    width: 370px;
  }
  
  .signup-page .arrow {
    height: 13px;
    left: 331px;
    position: absolute;
    top: 17px;
    width: 22px;
  }
  
  .signup-page .button-instance {
    background: linear-gradient(180deg, rgb(169.14, 144.15, 12.97) 0%, rgb(13.93, 3.18, 27.82) 100%) !important;
    display: flex !important;
    height: 48px !important;
    left: 123px !important;
    position: absolute !important;
    top: 803px !important;
    width: 211px !important;
  }
  
  .signup-page .design-component-instance-node {
    margin-bottom: unset !important;
    margin-top: unset !important;
  }
  
  .signup-page .chevron-left {
    height: 50px;
    left: 35px;
    position: absolute;
    top: 49px;
    width: 59px;
  }
  