<%- include ('partials/header') %>

<%- include ('partials/nav_bar') %>
<h1>Contact B-Airlines</h1>
  <p>We would love to hear from you! Please use the following information to get in touch with us.</p>
  <div class="contact-info">
    Email: admin@b-airlines.com<br>
    Phone: 555-555-5555
  </div>
<%- include ('partials/footer') %>