<%- include ('partials/header') %>
<%- include ('partials/nav_bar') %>
<img src="images\logos\B-Airways-logos_transparent.png" alt="Brand logo"  height="175">
<div>
  
<form action="/staff_login" method="POST">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" style="display: block;">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" style="display: block;">
    <center><button type="submit" style="display: block;">Login</button></center>

  </form>
</div>
  
<br>
<div class="centered-div">
    <a href="/login"><button class="create-account-button">User Login</button></a>
    <!-- <a href="/staff_work"><button class="nav-item">Staff Work</button></a> -->

</div>


<%- include ('partials/footer') %>