<%- include("partials/header") -%> 
<%- include("partials/nav_bar") -%>
<img src="/images/403_forbidden.jpg" alt="forbidden" style="width:60%;height:60%;">
<h1>Sorry, you are not authorized to view this page</h1>
<%-include("partials/footer") -%>
